// Markkoh.net custom styles!

// Colors
$tan: #fff0dd;
$grey: #444444;

// Media query variables
$break-small: 320px;
$break-medium: 600px;
$break-large: 1024px;


// Header definitions
h1 {font-size: 2.5em; font-weight: bold;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em; font-weight: bold;}
h4 {font-size: 1.25em; font-weight: bold;}
h5 {font-size: 1.1em; font-weight: bold;}

// General span classes
.inline-block {display:inline-block;}

// General layout classes
.contain {
  width: 100%;
  max-width: $break-large;
}


// Jumbotron
section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  text-align: center;
  background-size: cover;

  color: white;

  h1, h4 {
    margin: 5px;
  }
  h1 { font-size: 3em; text-transform: uppercase;}
  h4 { font-size: 2em; }

  @media screen and (min-width: $break-medium) {
    min-height: 400px;
  }

  &.home {
    background-image: url("../assets/images/home/banner_home.jpg");
  }
}