// Markkoh.net custom styles!

@import 'colors';
@import 'fonts';

// Media query variables
$break-small: 320px;
$break-medium: 600px;
$break-large: 950px;

// Universal font stuff
html {
  font-family: 'Palanquin', serif;
}


// Header definitions
h1 {font-size: 2.5em; font-weight: bold;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em; font-weight: bold;}
h4 {font-size: 1.25em; font-weight: bold;}
h5 {font-size: 1.1em; font-weight: bold;}

// General span classes
.inline-block {display:inline-block;}

// General layout classes
.contain {
  width: 100%;
  max-width: $break-large;
}

[layout=row] {
  flex-direction: row;
}

// Elements
@import '../components/banner/banner';

// Other shtuff
@import 'material-icons';