<md-toolbar layout="row" layout-align="center">
  <div class="contain" layout="row" layout-align="center center">
    <div flex="50">
      <md-button ui-sref="default.home">Mark Koh</md-button>
    </div>

    <section flex layout="row" layout-align="left center">
      <md-button ui-sref="default.home" class="md-raised">Home</md-button>
      <md-button ui-sref="default.about" class="md-raised">About</md-button>
      <md-button ui-sref="default.portfolio" class="md-raised">Portfolio</md-button>
      <md-button ui-sref="default.photography" class="md-raised">Photography</md-button>
      <md-button ui-sref="default.contact" class="md-raised">Contact</md-button>
    </section>
  </div>
</md-toolbar>
