md-toolbar.md-default-theme {
  background-color: $grey;
}

.navbar {

    .logo-container {
        height: 50px;
    }

    .logo {
        max-width: 250px;
    }

    .current {
        color: $blue;
    }

}