md-toolbar {
    background-color: $grey !important;
}

.navbar {

    .logo-container {
        height: 50px;
    }

    .logo {
        max-width: 250px;
    }

    .current {
        &, md-icon {
            color: $blue !important;
        }
    }

}