<div class="toenav contain md-padding" layout="row" layout-align="space-between center">
    <div>
        Website designed and coded by Mark Koh.
        &copy; 2015 Mark Koh.  All Rights Reserved.
    </div>
    <div>
        <a href="https://github.com/markkohdev/markkohv4" target="_blank" class="md-padding"> <i class="zmdi zmdi-github zmdi-hc-2x"></i> </a>
        <a href="https://www.linkedin.com/in/markbkoh" target="_blank" class="md-padding"><i class="zmdi zmdi-linkedin-box zmdi-hc-2x"></i></span>
    </div>
</div>