.portfolio-list {
    .gallery-item {
        background-color: #444;
        color: white !important;
        overflow:hidden;
        border-radius: 5px;
        margin-bottom: 1.5em;
    }

    .gallery-image {
        border: 10px solid white;
        height: 354px;
    }
}