.portfolio-list {
    .gallery-item {
        background-color: $grey;
        color: $white !important;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 1.5em;
    }

    .gallery-image {
        border: 10px solid white;
        height: 354px;

        img {
            width: 100%;
            background-size:cover !important;
            -webkit-background-size:cover !important;
            -moz-background-size:cover !important;
        }
    }
}

.portfolio-item {
    .photos {
        .photo-container {
            // max-height: 100px;
            overflow: hidden;
        }

        img {
            width: 100%;
        }
    }
}